.Button {
  width: 120px;
  padding: 15px 25px;
  border: 0;
  font-weight: bold;
  color: rgb(35, 35, 35);
  border-radius: 12px;
  cursor: pointer;
  transition: all .35s;
}

.Button:hover {
  filter: saturate(0.6);
}