* {
}

body {
  margin: 0;
  text-align: center;
  border: 2px solid;
}

p {
  font-size: 2rem;
}

nav {
  border: 2px solid;
}

nav,
span {
  border: 2px solid;
}

#edge {
  color: rgb(8, 235, 224);
}

.link {
  color: rgb(8, 235, 224);
  text-decoration: none;
}

.lista-spesa {
  padding: 5px 0;
  list-style-type: none;
}

.lista-spesa__item {
  margin-bottom: 10px;
  font-weight: bold;
  background-color: lightcoral;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
