.Gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 40px;
}

.Gallery__content {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
  /* scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px 0 0 10px; */
}