body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.wrapper {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.315);
  border-radius: 8px;
}

.title,
.price {
  padding: 0 10px;
}

.spinner {
  display: none;
}