.MainSection {
  padding: 100px 40px;
  display: flex;
  background: rgb(16, 0, 28);

  height: 100vh;
}

.orange {
  color: red;
  background-color: orange;
}
.lightgreen {
  color: green;
  background-color: lightgreen;
}
.lightskyblue {
  color: blue;
  background-color: lightskyblue;
}
.darkgray {
  color: black;
  background-color: darkgray;
}
.white {
  color: white;
  background-color: rgb(201, 201, 201);
}
.darkslateblue {
  color: violet;
  background-color: darkslateblue;
}