.Movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IndexMovie {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .MovieCard {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    color: black;
    width: 300px;
    height: 140px;
    border-radius: 6px;
  }
}