@import './_variables';

@mixin flex-element($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin generic-button($width: 200px, $height: auto) {
  width: $width;
  height: $height;
  padding: 20px 30px;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 8px $primary-color;
  transform: translate(-100px, -120px);
  transition: all 0.35s;
}

@mixin generic-hover($bg-color: $primary-color, $color: $active-text-color) {
  background-color: $bg-color;
  color: $color;
}

@mixin box-model($margin: 0, $border: 0, $padding: 0) {
  margin: $margin;
  border: $border;
  padding: $padding;
}