@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.Navbar {
  @include flex-element(row, flex-start, center);
  
  height: 70px;
  background-color: $primary-color;
  border-bottom: 2px solid $primary-border-color;
  z-index: 9;

  ul {
    padding: 0 0 0 20px;
    list-style-type: none;

    li {
      a {
        color: $active-text-color;
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
}